#answerFirst {

    text-align: center;
    margin-top: 5px;
    color: crimson;
    font-size: 10pt;
}

.btn-group-vertical{

    width: 80%;
    margin: auto;
}

#calculate-btn-group {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#homeButton {
    margin-bottom: 5px;
}

#transportButton {
    margin-bottom: 5px;
}

#foodButton {
    margin-bottom: 5px;
}

/* #incentives {
    display: flex;
    flex-direction: column;

    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
    background-color: #d8f8d1;
    border: 1px black solid;
    border-radius: 2%;
} */

