body {
    font-family: 'Nanum Gothic', sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#page-container {
    height: 100vh;
    position: relative;
}

.logo {

    height: 5em;
}

#nav-top {

    padding-top: 1%;
    padding-bottom: 1%;
}

#seeMore {

    float: right;
}

.navbar {

    background-color: mintcream;
    border-bottom: #309e46 4px solid;
    background-image:url(../img/vancouverSkyline.jpg);
    background-position: top;
    background-size:cover;

}

.card {
    background-color: inherit;
}

.nav {

    margin-top: 1em;
}

.nav-item {

    margin-right: auto;
}

#profile-btn {
    float: right;
    border: 1px rgba(204, 204, 204, 0) solid;
    display: inline-block;
    margin-bottom: .5em;
    margin-right: .5em;
    margin-top: 1em;
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: 500ms ease;
    min-height: 60px;
    background-color: #46774000;
}

#profile-btn:hover {
    color: #309e46
}

.nav {
    margin-top: 1em;
    margin-bottom: 0;
}

.nav-item {

    margin-right: auto;
}

.nav-tabs {
background-color: #e2ebf75d;

}

#tabs {
    background-color: #e2ebf75d;
    margin-top: 0;
}

.tab-content {
    background-color: #e2ebf75d;
    height: auto;
    border: #309e46 1px solid;
    text-align: center;
    margin-top: 9vh;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 5%;
    min-height: 40vh;
    padding-bottom: 1em;
}

#tips {
    text-align: center;
    background-color: #B8C4BB;
    border: 1px solid #309e46;
    margin-top: 2vh;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    height: 17vh;
}

.nav-link {
    color: #309e46;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 22px;
    background-color: #0083c9;
    box-shadow: 4px -15px 8px -15px rgb(0 0 0 / 20%), 10px -15px 40px -15px rgb(0 0 0 / 19%);
    /* border-top: 4px solid green; */
    /* position: fixed;
  left: 0;
  bottom: 0; */
    width: 100%;
}

#type-picture {

    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-top: 1em;
}


#footer-p {
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1em;
    text-align: center;
    background-color: #e2ebf75d;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: #309e46 6px solid;
    /* background-image: url(../img/vancouver-footer.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.btn-outline-info {
    margin-top: 4em;
}


#calculateButton {

    margin-top: 2em;
}

/* #food-follow-up{

    display: none;
} */


#userChart {

    text-align: center;
    height: 30vh;
}

.btn-outline-info {
    margin-left: 3px;
    margin-right: 3px;
}

#chartContainer {

    height: 30vh;
}

/*------------------------------------- LEADERBOARD Styling-----------------------------------------*/
#leaderboard {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
}

#lead-btn {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#delete-group {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.btn-close {
    float: right;
    width: 6.7%;
    height: 30px;
    background-color: #bbf881;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}


.btn-close svg {
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

#lead-btn-container {
    font-size: 15ft;
}

/* CSS to fix image in Incentives */
#incent-card-container {
    border: none;
    align-items: center;
    justify-content: center;

}

.card-img-top {
    object-fit: fill;
    width: 100%;

}

#incent-img-cont {
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}