@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
/* 
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
} */


.lboard_wrap .lboard_mem{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 3px solid #fdfdfd;
	color: white;
	font-size: large;
}

.lboard_wrap .lboard_item{
	padding: 25px;
}


.lboard_wrap .lboard_mem .name_bar{
	margin: 0 20px;
	width: calc(80%);
}

.leaderboard-container .add-leaderboard-here{
	background: #01290b;
}