/* .tab-content {
    background-color: #E8F7EE;
    height: auto;
    border: #488d3f 2px solid;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin-top: 4vh;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
} */

#userChart {
    text-align: center;
    height: 25vh;
    margin-top: 1em;
}

#vancouverComparison {
    font-size: 0.8rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    padding-top: .5rem;
    text-align: left;
}

#vancouverComparison img {
    justify-content: flex-end;
}

#vancouverComparison p {
    margin-top: .5em;
    align-self: center;
    font-size: 10pt;
    color: #020103;
    font-family: 'Noto Sans SC', sans-serif;
}

#co2-number {
    color: #36702e;
    font-size: 12pt;

}

#currentUserNumber {
    color: #36702e;
    font-size: 12pt;

}

#redirect-link {
    width: 30px;
}

#target-icon {
    width: 30px;
    height: 30px;
    align-self: center;
}

#personalized-msg {
    padding: 2rem 0 0 0;
    border: 5px #076304;
    margin: 0 auto;
    border-radius: 3%;
}

#user-name {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0bc533;
}

#your-worst-cat {
    font-weight: bold;
}

#incentives {
    display: flex;
    flex-direction: column;
    grid-area: incentive;
    margin: 1rem 1.5rem;
    border-top: #309e46 2px solid;
}

#right-arrow {
    width: 30px;
    height: 30px;
}

#incentives p {
    padding-top: 1rem;
    margin: 0 auto;
}

#incentive-card-title {
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    flex-grow: 1;
}

#incentive-card-text {
    font-size: 1.1rem;
    margin: 0 2rem;
}

#incentive-card-text span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    color: #11531c;
}

#incentive_url {
    height: 50px;
    background-color: rgb(201, 252, 245);
    color: black;
    border: 1px solid #f70f0f;
    border-radius: 5%;
}

.btn-outline-info {
    margin-left: 3px;
    margin-right: 3px;
}
