body {
    margin-top: 20px;
    background-color: mintcream;

}

.main {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    background-color: green;
    overflow: hidden;
}

.topbar a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;

}

.sidebar {
    background-color: #333;
    color: white;
    height: 100%;
}

.sidebar a {
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #E8F7EE;
} 



/* //////////////////////////////// */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul, li{
    list-style: none;

}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15), 0 4px 5px rgba(0, 0, 0, .3);
    height: 69px;
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;

}

header .logo{
    padding: 15px 25px;
}

header .logo h1{
    cursor: pointer;
    text-transform: uppercase;
}
 */

@media (max-width: 770px) {
    .sidebar {
        /* display: none; */
        height: 30vh;
    }
}