.logo {

    height: 5em


}

#nav-top {

    padding-top: 30px;
    padding-bottom: 30px;
}


.navbar {
    background-color:mintcream;

}

.nav{
margin-top: 1em;
}
.nav-item{

    margin-right:auto;
}

.profile-btn{
    background-color: greenyellow;
    float: right;
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.tab-content{
    background-color: #E8F7EE;
    min-height: 30vh;
    border: 1px solid #467740;
    margin-top: 5vh;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

#tips {
    text-align: center;
    background-color: #B8C4BB;
    border: 1px solid #467740;
    margin-top: 5vh;
    margin-left: 1em;
    margin-right: 1em;
    min-height: 25vh;
}

.nav-link {
    color:#467740;
}

footer {
    line-height: 22px;
    background-color: #444;
    box-shadow: 4px -15px 8px -15px rgb(0 0 0 / 20%), 10px -15px 40px -15px rgb(0 0 0 / 19%);
    border-top: 4px solid green;
      position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-p {
    color: #ccc;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #333;
}