body {
    font-family: 'Nanum Gothic', sans-serif;
}



.logo {

    height: 5em
}

#nav-top {

    padding-top: 30px;
    padding-bottom: 30px;
}


.navbar {

    background-color: mintcream;

}
<<<<<<< HEAD
#Login{
    text-decoration: none;
}
.login-btn{
    background-color: greenyellow;
    float: right;
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}
.login-btn:hover{
    background:chartreuse;
}
.nav{
margin-top: 1em;
=======

.nav {

    margin-top: 1em;
>>>>>>> aeba2a923b5859dd50d90be9b9221b5b832c71d4
}

.nav-item {

    margin-right: auto;
}

.tab-content {
    background-color: #E8F7EE;
    min-height: 45vh;
    border: 1px solid #467740;
    margin-top: 5vh;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

#tips {
    text-align: center;
    background-color: #B8C4BB;
    border: 1px solid #467740;
    margin-top: 2vh;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    min-height: 17vh;
}

.nav-link {
    color: #467740;
}